a,
#home-slider .caption h1 span, 
#twitter-carousel .item span, 
#footer .footer-bottom, 
#single-portfolio .close-folio-item:hover, 
.single-table.featured .btn.btn-primary, 
.contact-info ul li a:hover, 
#footer .footer-bottom a  {
	color: #7368D5
}

.btn.btn-primary:hover,
.btn-submit:hover {
  background-color: #a283d9
}

a:hover, a:focus {
	color: #7368D5
}

.main-nav,
.dropdown ul, 
.service-icon, 
.progress-bar.progress-bar-primary, 
.single-table.featured, 
.btn.btn-primary, 
.twitter-icon .fa-twitter, 
.twitter-left-control:hover, .twitter-right-control:hover, 
.post-icon, 
.entry-header .date:after, 
.btn-loadmore:hover, 
.btn-submit,
#footer, 
.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover, 
.folio-overview a:hover {
	background-color:#7368D5
}

.twitter-left-control:hover, 
.twitter-right-control:hover, 
.btn-loadmore:hover  {
	border: 1px solid #7368D5
}

.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover {
	border-color: #7368D5
}

.twitter-icon .fa-twitter:after {
	border-color: #a283d9 transparent transparent;
}

.social-icons-container {
  position: fixed;
  top: 20%;
  left:5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social-icons-container a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.social-icons-container a:hover {
  background-color: #000;
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.social-icons-container {
	  position: fixed;
	  top: 30%;
	  left:0%;

	}
}

@media (max-width: 767px) {
	.social-icons-container {
	  position: fixed;
	  top: 20%;
	  left:0%;

	}
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.instagram {
  background: #dd4b39;
  color: white;
}